@import "../../scss/variables";

.featuredProducts {
    margin: 80px auto 80px auto;


    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;

        h1 {
            flex: 1;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 2rem;
            margin-bottom: 0.75rem;
        }

        p {
            flex: 1;
            color: $gray;
        }
    }


    .cards {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        width: 100%;
        padding: 0 100px 0 100px;
    }



    // .card {
    //     display: flex;
    //     justify-content: space-between;
    //     position: relative;
    //     width: 100%;     
    //     padding: 80px 100px 0 100px;

    // }
    
}


