@import "../../scss/variables";

.btn {
    background-color: $blue;
    text-align: center;
    padding: 8px;
    color: white;
    width: 220px;
    transition: all 0.4s;

    &:hover {
        background-color: #4649ffd7;
    }
}

.full {
    width: 100%;
}